.DS_Store
*.pt.py
*.pyc
*.pyo
*.mo
*~
*.sw?
/.installed.cfg
/.mr.developer.cfg
/bin
/develop-eggs
/parts
/src/NuPlone
/src/lingua
/src/pyrtf-ng
/var/blobstorage
/var/filestorage
/var/log
/var/instance.lock
/var/instance.pid
/src/Euphorie.egg-info/
/dist/
/docs/.build/
/var/
