*.pt.py
*.pyc
*.mo
buildout/.mr.developer.cfg
buildout/bin
buildout/develop-eggs
buildout/parts
buildout/src/lingua
buildout/var/blobstorage
buildout/var/filestorage
buildout/var/log
buildout/var/instance.lock
buildout/var/instance.pid
