*.pt.py
*.pyc
*.pyo
*.mo
/buildout/.installed.cfg
/buildout/.mr.developer.cfg
/buildout/bin
/buildout/develop-eggs
/buildout/parts
/buildout/src/NuPlone
/buildout/src/lingua
/buildout/src/pyrtf-ng
/buildout/var/blobstorage
/buildout/var/filestorage
/buildout/var/log
/buildout/var/instance.lock
/buildout/var/instance.pid
/buildout/src/Euphorie/Euphorie.egg-info/
/buildout/src/Euphorie/dist/
/buildout/src/Euphorie/docs/.build/
