include *.rst
recursive-include src/euphorie *.zcml
recursive-include src/euphorie/deployment/locales *.mo
recursive-include src/euphorie/deployment/locales *.po
recursive-include src/euphorie/deployment *.ini
recursive-include src/euphorie *.css
recursive-include src/euphorie *.eot
recursive-include src/euphorie *.gif
recursive-include src/euphorie *.html
recursive-include src/euphorie *.js
recursive-include src/euphorie *.json
recursive-include src/euphorie *.png
recursive-include src/euphorie *.pot
recursive-include src/euphorie *.svg
recursive-include src/euphorie *.ttf
recursive-include src/euphorie *.txt
recursive-include src/euphorie *.woff
recursive-include src/euphorie *.zpt
prune Prototype_1.0
prune data
graft docs
prune docs/.build
prune *.cfg
prune tools
graft src/euphorie/client/profiles
graft src/euphorie/client/templates
graft src/euphorie/content/profiles
graft src/euphorie/content/templates
graft src/euphorie/deployment/profiles
graft src/euphorie/deployment/browser/templates
graft src/euphorie/deployment/tiles/templates
recursive-exclude src/euphorie *.pt.py
recursive-exclude src/euphorie *.pt.pyc
prune Work
recursive-include etc *.ini
