[buildout]
extends =
    https://dist.plone.org/release/6.1-latest/versions.cfg
    versions-common.cfg

[versions]
zope.sqlalchemy = 3.1
# Override 6.1 version pins from 6.2 requirements file.
# We need horse-with-no-namespace for plone.patternslib 9.10.6
horse-with-no-namespace = 20260202.0
pip = 26.1.1
setuptools = 81.0.0
wheel = 0.47.0
zc.buildout = 5.2.0
