[versions]
NuPlone = 5.0.1

# This is necessary to have some ftw.upgrade working with latest Plone, see:
#
# - https://github.com/4teamwork/ftw.upgrade/pull/232
[buildout]
find-links +=
    https://pypi.syslab.com/packages

[versions]
ftw.upgrade = 4.0.0+slc.2

# This is necessary as we still need to upgrade to SQLAlchemy 2
SQLAlchemy = 1.4.54
# Since version 1.20 alembic is not compatible with SQLAlchemy 1.4 anymore
alembic = 1.19.2

# Picked versions
anytree = 2.13.0
brotli = 1.2.0
chardet = 7.6.0
cloudpickle = 3.1.2
collective.ftw.upgrade = 4.0.0
cssselect2 = 0.10.1
cssutils = 2.15.0
defusedxml = 0.7.1
encutils = 1.0.0
et-xmlfile = 2.0.0
fonttools = 4.66.1
greenlet = 3.5.6
inflection = 0.5.1
joblib = 1.6.0
Mako = 1.4.3
markdownify = 1.2.3
narwhals = 2.26.0
nltk = 3.10.3
numpy = 2.5.3
openpyxl = 3.1.5
path = 17.1.1
path.py = 12.5.0
plone.app.imagecropping = 3.0.3
plone.patternslib = 9.11.1
plonestatic.euphorie = 2.0.0
Products.membrane = 8.0.0
py-bcrypt = 0.4
pydyf = 0.12.1
pyphen = 0.18.1
python-docx = 1.2.0
regex = 2026.9.29
repoze.formapi = 0.6.1
scikit-learn = 1.9.1
scipy = 1.18.1
sh = 2.4.0
StoneageHTML = 1.0.0
tarjan = 0.2.4
threadpoolctl = 3.7.0
tinycss2 = 1.5.1
tinyhtml5 = 2.1.0
tqdm = 4.70.1
ua-parser = 1.0.2
ua-parser-builtins = 202610
user-agents = 2.2.0
weasyprint = 70.0
z3c.ptcompat = 5.0
z3c.saconfig = 2.0
zope.sqlalchemy = 4.1
zopfli = 0.4.3

[versions:python_version == "3.11"]
scipy = 1.17.1
numpy = 2.4.6
