[buildout]
extends = versions-plone-5.2-latest.cfg

[versions]
Euphorie =
NuPlone = 1.6.1

# Buildout bits
z3c.recipe.scripts = 1.0.1
plone.recipe.zope2instance  = 4.4.0

# ftw.upgrade
argcomplete = 1.10.0
backports.os = 0.1.1
ftw.upgrade = 3.0.3
inflection = 0.3.1
path.py = 11.5.2
pathlib2 = 2.3.5
scandir = 1.10.0
tarjan = 0.2.3.2

# Euphorie dependencies
alembic = 1.1.0
anytree = 2.4.3
Mako = 0.7.0
SQLAlchemy = 1.1.18
psycopg2 = 2.7.4
python-editor = 1.0.4
zope.sqlalchemy = 1.0
z3c.saconfig = 0.14
pysqlite = 2.8.3
plone.app.imagecropping = 2.1.0
# Needed by NuPlone
six = 1.15.0
python-docx = 0.8.10

Products.membrane = 4.0
et-xmlfile = 1.0.1
htmllaundry = 2.1
pbr = 3.1.1
repoze.formapi = 0.6.1

# Required by:
# openpyxl==2.5.1
jdcal = 1.3

openpyxl = 2.6.4

# Required by:
# NuPlone==1.5.7.dev0
p01.widget.password = 0.5.0

# Required by:
# Euphorie==9.0.35.dev0
py-bcrypt = 0.4

# Required by:
# Euphorie==9.0.35.dev0
pyrtf-ng = 0.9.1

# Required by:
# Euphorie==9.0.35.dev0
z3c.schema = 1.1.0

MarkupSafe = 1.0
alabaster = 0.7.10
chardet = 3.0.4
idna = 2.6
repoze.sphinx.autointerface = 0.8
z3c.appconfig = 1.0

# Required by:
# NuPlone==1.5.7.dev0
WebHelpers = 1.3

# Required by:
# NuPlone==1.5.7.dev0
z3c.zrtresource = 1.4.0

# Debug tools

# Toolchain

# Documentation


[sources]
# Euphorie extensions
tno.euphorie = git git@github.com:euphorie/tno.euphorie.git
osha.oira = git git@github.com:euphorie/osha.oira.git
# SQL
z3c.saconfig                   = git git@github.com:zopefoundation/z3c.saconfig.git
zope.sqlalchemy                = git git@github.com:zopefoundation/zope.sqlalchemy.git
# Others
NuPlone                        = git https://github.com/euphorie/NuPlone.git pushurl=git@github.com:euphorie/NuPlone.git branch=master
htmllaundry                    = git git@github.com:wichert/htmllaundry.git
plone.recipe.zope2instance = git git@github.com:plone/plone.recipe.zope2instance.git
