/* custom style sheet with ds etool colors for OiRA */
:root {
    --colour-accent: #076a6d;
}

#toolbar {
    background-color: #076a6d;
}

.tooltip-container ul.menu li>a.tooltip-active-click, .tooltip-container ul.menu li>a:active, .tooltip-container ul.menu li>label.tooltip-active-click, .tooltip-container ul.menu li>label:active, .tooltip-container ul.menu li>form>label.tooltip-active-click, .tooltip-container ul.menu li>form>label:active, .tooltip-container ul.menu li>form>button.tooltip-active-click, .tooltip-container ul.menu li>form>button:active, .tooltip-container ul.menu li>form>fieldset>label.tooltip-active-click, .tooltip-container ul.menu li>form>fieldset>label:active, .tooltip-container ul.menu li>fieldset.pat-checklist label.tooltip-active-click, .tooltip-container ul.menu li>fieldset.pat-checklist label:active, .tooltip-container ul.menu li>button.tooltip-active-click, .tooltip-container ul.menu li>button:active {
    background-color: #076a6d;
}
.select2-results .select2-highlighted {
    background: #076a6d;
}
#steps>li.active {
    border-color: #076a6d;
}
#steps>li>a.reminder:not(.onscreen-help):before {
    content:"\e894";
}
.pie-graph {
    --pie-graph-segment-colour: #076a6d;
    --pie-graph-line-colour: #076a6d;
}