h1 {
	background-color: #003399;
}

.report p.priority-high {
	position: relative;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	background: none !important;
	margin-left: 0px;
	color: black;
	text-indent: 0;
	overflow: none;
	text-transform: none;
    display: block;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.report p.priority-high strong {
	color: black !important;
	text-shadow: rgba(255,254,255,0.59) 0 1px 0;
	text-indent: 0;
	float: none;
}

#steps li.complete,
#steps li.current {
	background-color: #996699;
}

#steps li {
	color: #4b68a2;
}

#steps li.complete a,
#steps li.current a,
#steps li.current a strong {
	color: #3d293d;
}

#steps li.current a:hover,
#steps li.complete a:hover {
	color: #000;
}

#steps li a {
	width: 113px;
	display: block;
	text-decoration: none;
	padding: 10px 5px 20px 40px;
	font-size: 12px;
	color: #8fa1c5;
	text-shadow: rgba(0,0,0,0.83) 0 1px 0;
	font-weight: bold;
	margin: -10px -5px -20px -40px;
	position: relative;
	-webkit-transition: color 0.2s;
}

#steps li a:hover{
	color: #8e9fb8;
}

/* Screen.css limits this to 45% which is then somehow overridden 
 * by Fancybox. If we however then don't use FancyBox, the image 
 * is too small.
 */
.gallery img {
	max-width: 100%;
	max-height: 100%;
	cursor: default;
}

.gallery a img {
	cursor: pointer;
}

.oira_sessions_select {
    position: relative;
    margin-right: -100%;
    margin-left: 1em;
    float: left;
    left: 100%;
}
