#steps {
	position: absolute;
	left: 50%;
	margin-left: -395px;
	z-index: 1000;
	zoom:1;
}

#steps li li.active,
#steps li li.current {
	border-top: none #322f2e;
	border-bottom: none #82807e;
	height: auto;
	background: url(ie-steps-deep.png) repeat-y 0 bottom;
	padding-top: 1px;
}

#steps li li.active>a,
#steps li li.current>a {
	background: url(ie-steps-deep.png) repeat-y 0 top;	
}

#steps li li li.active,
#steps li li li.current {
	border-top: none #322f2e;
	border-bottom: none #82807e;
	height: auto;
	background: url(ie-steps-deeper.png) repeat-y 0 bottom;
	padding-top: 1px;
}

#steps li li li.active>a,
#steps li li li.current>a {
	background: url(ie-steps-deeper.png) repeat-y 0 top;	
}

button.small,
.button-small {
	padding-top: 4px;
	padding-bottom: 1px;
}

/* @group Global Navigation
 */

#navigation li
 {
	background: url(ie-globalNavigation.png) no-repeat right;
	float: right;
}

#navigation li a
 {
	background: url(ie-globalNavigation.png) no-repeat 0 1px;
	float: left;
	margin-right: 12px;
	padding-right: 0;
	padding-bottom: 1px;
	line-height: 22px;
	padding-top: 0;
	background-color: transparent !important;
}

#navigation li#home a {
	background-image: none;

}



/* @end */

/* The next line prevents IE7 from making the ul too wide and to position it underneath p.question */

/*.radioList {
	width: 100%;
}*/

.radioList label input {
	margin-top: -2px;
}

button {
	width: auto;
	overflow: visible;
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(icons.png);
	margin-top: -2px;
	position: relative;
	top: -1px;
}

form.concise fieldset label input,
fieldset.concise label input,
form.concise fieldset label input,
fieldset.concise label input,
form.concise fieldset label textarea,
fieldset.concise label textarea,
form.concise fieldset label textarea,
fieldset.concise label textarea {
	left: 50%;
	margin-top: -20px;
}

.comprehensive,
.comprehensive fieldset,
.concise fieldset.comprehensive,
.compact fieldset.comprehensive {
	margin-bottom: 10px;
	float: left;
}

fieldset.comprehensive label *,
form.comprehensive fieldset label *,
form.concise fieldset.comprehensive label *,
form.compact fieldset.comprehensive label * {
	position: static !important;
	margin-top: 0;
}

/* @group Accordion */

dl.accordion dt {
	height: 20px;
}

dl.accordion dt button {
	position: relative;
	top: -17px;
	visibility: hidden;
}

dl.accordion dt:hover button,
dl.accordion dt.ui-state-active button {
	visibility: visible;
}

dl.accordion dd {
	float: left;
	padding: 0;
	position: relative;
	width: 110%;
	clear: left;
}

dl.accordion dd div.colborder {
	float: left;
	margin-left: -15px;
}



/* @end */

dl.accordion .colborder hr {
	display: block;
	height: 0;
	margin: 0;
	border-style: none;
	visibility: hidden;
}

/* @group Comments */

#comments textarea {
	display: block;
	width: 99%;
}

/* @end */

.report p.priority-high {
	line-height: 12px;
	text-align: center;
	padding-top: 10px;
}

.report p.priority-high strong {
	width: 60px;
}

/* @group Grid list */

dl.grid dd {
	float: none;
}

/* @end */

h3 {
	font-size: 14px;
}

.oira_sessions_select {
    margin: 0;
    left: 0;
    float: none;
}
