body > h1 {
	background-color: #003399;
}

section.report-blurb {
	border: 3px solid #996699;
    max-width: 590px;
    padding: 1em;
    margin-bottom: 2em;
}

section.report-blurb .report-examples {
    display: table;
}

section.report-blurb .report-examples li {
    display: table-cell;
}

section.report-blurb .report-examples li img {
    width: 95%;
}

#ActionPlanItemForm .solutions {
    padding: 4px 4px;
    margin-top: 0;
	font-size: 12px;
    font-weight: normal;
    color: black;
    background: lightgray;
}

#ActionPlanItemForm .solutions:hover {
	border: 1px solid black;
}

#ActionPlanItemForm .solutions-highlight {
    color: white;
    background: gray;
}

#standardSolutions {
    margin-top: 20px;
}

#steps li.complete,
#steps li.current {
	background-color: #996699;
}

#steps > li.current > a:after {
	border-top-color: #996699;
}

/* Screen.css limits this to 45% which is then somehow overridden
 * by Fancybox. If we however then don't use FancyBox, the image
 * is too small.
 */
.gallery img {
	max-width: 100%;
	max-height: 100%;
	cursor: default;
}

.gallery a img {
	cursor: pointer;
}

.oira_sessions_select {
    position: relative;
    margin-right: -100%;
    margin-left: 1em;
    float: left;
    left: 100%;
}

#steps ol.microns li {
	background-image: url(microns-osha.png) !important;
}

#steps ol.microns li a {
	background-image: url(microns-osha.png) !important;
}

.legend li:before {
	background-image: url(microns-osha.png);
}

body.evaluation ul.legend,
body.actionplan ul.legend {
    display: none;
}

a#oira_legal_show_anchor {
    float: right;
}

a#oira_legal_hide_anchor {
    float: right;
}

h4.oira_legal_header {
    float: left;
}

.report #appendix img {
    margin-bottom: 0;
    float: none;
}

.report img.appendix_oira_logo {
    margin-right: 15px;
    cursor: pointer;
}

.report .creative_commons_logo {
    cursor: pointer;
}

/* @group Old IE warning */
/* Commented out until we have a solution for showing translated warnings
Syslab reference: #7929
.ie4 body, .ie5 body, .ie6 body, .ie7 body, .ie8 body {
    background: #404449 url(Browser-warning.png) no-repeat fixed center center !important;
}
.ie4 body *, .ie5 body *, .ie6 body *, .ie7 body *, .ie8 body * {
    display: none;
}
*/
/* @end */

body.language-fr #navigation li#home {
    right: 465px;
    width: 300px;
}

#steps .questions li.current > a {
    color: #FFFFFF;
    font-weight: bolder;
}
