name: tests

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 12 * * 0" # run once a week on Sunday

jobs:
  build:
    strategy:
      matrix:
        config:
          - ["Py3.8-Plone5.2", "3.8"]
    runs-on: ubuntu-latest
    name: ${{ matrix.config[0] }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.config[1] }}
      - name: Install wkhtmltopdf
        run: |
          sudo apt update
          sudo apt install -y wkhtmltopdf
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            **/eggs
            **/downloads
          key: ${{ runner.os }}-cache-${{ hashFiles('setup.*', '*.cfg') }}-${{ matrix.config[0] }}
          restore-keys: |
            ${{ runner.os }}-cache-
      - name: Install dependencies
        run: |
          sudo locale-gen en_US.UTF-8 nl_NL@euro
          python -m venv .
          bin/pip install -r requirements.txt
          bin/buildout -c .github.cfg
      - name: Pre commit
        uses: pre-commit/action@v2.0.0
        if: ${{ matrix.config[1] == '3.8' }}
      - name: Code Analysis
        run: |
          bin/code-analysis
        if: ${{ matrix.config[1] == '3.8' }}
      - name: Test
        run: |
          bin/coverage run bin/test -s euphorie
          bin/coverage report --fail-under=67
        env:
          zope_i18n_compile_mo_files: 1
